<!--*******************
        Preloader start
    ********************-->

  <!--*******************
      Preloader end
  ********************-->

  <!--**********************************
      Main wrapper start
  ***********************************-->


  <!--**********************************
          Chat box start
      ***********************************-->

  <!--**********************************
          Chat box End
      ***********************************-->

  <!--**********************************
          Header start
      ***********************************-->

      <!--**********************************
          Header end ti-comment-alt
      ***********************************-->

      <!--**********************************
          Sidebar start
      ***********************************-->
      <div class="container-wrapper">
        <div class="deznav">
          <div class="deznav-scroll">
            <ul class="metismenu" id="menu">
              <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                  <i class="flaticon-dashboard-1"></i>
                  <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                  <li><a href="index.html">Dashboard</a></li>
                  <li><a href="admin/events">Event</a></li>
                  <li><a href="admin/eventType">Event Type</a></li>
                </ul>
              </li>
            </ul>

            <div class="copyright">
              <p class="fs-14 font-w200"><strong class="font-w400">Koki Restaurant Admin Dashboard</strong> © 2022 All Rights Reserved</p>
              <p>Made with <span class="heart"></span> by DexignZone</p>
            </div>
          </div>
        </div>

        <div class="content-body">
          <div class="container-fluid">
            <div class="row">
          <div class="table-container">
            <h2 style="font-weight: bold; color: rgb(7, 7, 7);" style="padding-top: 40px;">Table of Event :</h2>
            <table class="table table-success table-striped">
              <thead>
                <tr>
                  <th scope="col">Titre</th>
                  <th scope="col">Org</th>
                  <th scope="col">Empl</th>
                  <th scope="col">D.début</th>
                  <th scope="col">D.fin</th>
                  <th scope="col">description</th>
                  <th scope="col">Nbr.part</th>
                  <th scope="col">Type Event</th>
                  <th scope="col">URLs</th>
                  <th scope="col">Acts</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let event of events">
                  <td>{{event.Titre}}</td>
                  <td>{{event.organisateur}}</td>
                  <td>{{event.emplacementEvent}}</td>
                  <td>{{event.dateDeb | date}}</td>
                  <td>{{event.dateFin | date}}</td>
                  <td>{{event.description}}</td>
                  <td>{{event.nbrParticipants}}</td>
                  <td>{{event.typeName}}</td>

                  <td>
                    <ng-container *ngFor="let url of event.imageId[0].split(',')">
                      <tr>
                        <td><a href="{{ url }}">{{ url }}</a></td>
                      </tr>
                    </ng-container>
                  </td>



                  <td>
                    <button class="btn btn-blue" (click)="deleteEvent(event._id)">Remove</button>
                    <button class="btn btn-blue" (click)="getEvent(event._id)" [routerLink]="['/events', event._id, 'participation']">Detls</button>
                    <button class="btn btn-blue" (click)="editEvent(event)">Edit</button>
                  </td>




              </tbody>
            </table>
          </div>

          <div class="add-event-button">
            <a href="admin/events/addEvent">
              <button class="btn-blue" >Add Event</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>






      <style>


        .btn-blue {
          background-color: #007bff;
          color: #fff;
          border-radius: 5px;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          font-size: 16px;
        }

        .btn-blue:hover {
          background-color: #0056b3;
        }
        .container-wrapper {
          display: flex;
        }

        .deznav {
          width: 250px;
          /* Add your desired styles for the sidebar here */
        }

        .content-body {
          flex-grow: 1;
          overflow: auto;
        }

        .table-container {
          width: 100%;
        }

        /* Add your desired styles for the table container here */

        .table-container table {
          width: 100%;
        }

        /* Add your desired styles for the table here */

        .btn-blue {
          background-color: #007bff;
          color: #fff;
          border-radius: 5px;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          font-size: 16px;
        }

            </style>



      <!--**********************************
          Content body end
      ***********************************-->

      <!--**********************************
          Footer start
      ***********************************-->
      <div class="footer">
          <div class="copyright">
              <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2022</p>
          </div>
      </div>
      <!--**********************************
          Footer end
      ***********************************-->


  <!--**********************************
      Main wrapper end
  ***********************************-->

  <!-- Required vendors -->

