<div class="add-quiz-form">
    <h2>Add Quiz</h2>
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="refFormation">Formation</label>
        <select formControlName="refFormation" id="refFormation">
          <option value="" disabled>Select a formation</option>
          <option *ngFor="let formation of formations" [value]="formation?._id">{{ formation?.libelle }}</option>
        </select>
        <div *ngIf="quizForm.get('refFormation').errors && quizForm.get('refFormation').touched" class="error">
          Formation is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="titre">Quiz Title</label>
        <input type="text" formControlName="titre" id="titre">
        <div *ngIf="quizForm.get('titre').errors && quizForm.get('titre').touched" class="error">
          Quiz title is required
        </div>
      </div>
  
      <!-- Add response field -->
      <div class="form-group">
        <label for="response">Response</label>
        <input type="text" formControlName="response" id="response">
        <button type="button" (click)="addResponse()">Add Response</button>
      </div>
      <div formArrayName="responses">
        <div *ngFor="let response of responses.controls; let i=index" [formGroupName]="i">
          <input type="text" formControlName="value">
        </div>
      </div>
      <!-- End of response field -->
  
      <button type="submit">Add Quiz</button>
    </form>
  </div>
  