<div class="add-quiz-form">
    <h2><strong>Add Quiz</strong></h2>
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="refFormation" class="title">Formation</label>
        <select formControlName="refFormation" id="refFormation" class="form-control">
          <option value="" disabled>Select a formation</option>
          <option *ngFor="let formation of formations" [value]="formation?._id">{{ formation?.libelle }}</option>
        </select>
        <div *ngIf="quizForm.get('refFormation').errors && quizForm.get('refFormation').touched" class="error">
          Formation is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="titre" class="title">Quiz Title</label>
        <input type="text" formControlName="titre" id="titre" class="form-control elevation">
        <div *ngIf="quizForm.get('titre').errors && quizForm.get('titre').touched" class="error">
          Quiz title is required
        </div>
      </div>
  
      <!-- Add response field -->
      <div class="form-group">
        <label for="response" class="title">Response</label>
        <div class="input-group">
          <input type="text" formControlName="response" id="response" class="form-control elevation">
          <button type="button" (click)="addResponse()" class="btn btn-primary">Add Response</button>
        </div>
      </div>
      <div formArrayName="responses">
        <div *ngFor="let response of responses.controls; let i=index" [formGroupName]="i" class="response-group">
          <input type="text" formControlName="value" class="form-control elevation">
        </div>
      </div>
      <!-- End of response field -->
  
      <button type="submit" class="btn btn-success">Add Quiz</button>
    </form>
  </div>
  