<style>
  .event-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .event-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .event-container p {
    margin: 5px 0;
  }

  .event-container strong {
    font-weight: bold;
  }

  .event-not-found {
    text-align: center;
    font-size: 18px;
    color: #888;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 30px;
  }

  .image-grid img {
    width: 100%;
    height: auto;
  }
  .btn btn-blue {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }

</style>
<div class="event-container">
  <ng-container *ngIf="event">
  <h1><strong>Event name is:</strong><br>{{ event.Titre }}</h1>

<h1>Event Details</h1>

  <h1><strong>Event name is:</strong><br>{{ event.Titre }}</h1>
  <p><strong>Organisateur:</strong> {{ event.organisateur }}</p>
  <p><strong>Emplacement:</strong> {{ event.emplacementEvent }}</p>
  <p><strong>Date de début:</strong> {{ event.dateDeb | date }}</p>
  <p><strong>Date de fin:</strong> {{ event.dateFin | date }}</p>
  <p><strong>Date de création:</strong> {{ event.dateCreation | date }}</p>
  <p><strong>Date de modification:</strong> {{ event.dateModif | date }}</p>
  <p><strong>Nombre de participants:</strong> {{ event.nbrParticipants }}</p>
  <p> {{ event.imageId }}</p>
  <div class="image-grid">
    <a *ngFor="let imageUrl of event.imageId; let i = index" [href]="imageUrl" target="_blank">
      <img [src]="imageUrl" alt="Event Image {{ i + 1 }}">
    </a>
  </div>

  <p><strong>Number of Images:</strong> {{ event.imageId.length }}</p>
  <div>
    <button class="btn btn-blue" (click)="return()">Return</button>
  </div>
</ng-container>
<p class="event-not-found" *ngIf="!event">Event not found.</p>
</div>

