<style>
  table {
   padding-top: 55px;
  }
</style>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">organisateur</th>
      <th scope="col">emplacementEvent</th>
      <th scope="col">dateDeb</th>
      <th scope="col">dateFin</th>
      <th scope="col">dateCreation</th>
      <th scope="col">dateModif</th>
      <th scope="col">nbrParticipants</th>
      <th scope="col">typEvent</th>
      <th scope="col">Image URL</th>

    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events">
    <td>{{event.Titre}}</td>
    <td>{{event.organisateur}}</td>
    <td>{{event.emplacementEvent}}</td>
<td>{{event.dateDeb | date}}</td>
<td>{{event.dateFin| date}}</td>
<td>{{event.nbrParticipants}}</td>
<td>{{event.typeName}}</td>




<td>
  <a [routerLink]="['/events', event._id, 'participation']">
    <button>View</button>
  </a>
</td>  </tr>
</tbody>
</table>

<div>
  <button routerLink="/addEvent">Add Event</button>
</div>
