<div class="event-grid" style="padding-top: 70px; padding-left: 30px; padding-right: 30px;">
  <div class="card" *ngFor="let event of events; let i = index">
    <img [src]="event.imageId" alt="Event Image">
    <div class="card-body">
      <h2 class="card-title">{{ event.Titre }}</h2>
      <p>
        <button type="button" class="btn"
          data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true"
          [attr.data-bs-content]="event.description">
          Event description
        </button>
      </p>
      <p><strong>Organizer:</strong> {{ event.organisateur }}</p>
      <p><strong>Location:</strong> {{ event.emplacementEvent }}</p>
      <p><strong>Start Date:</strong> {{ event.dateDeb  }}</p>
      <p><strong>End Date:</strong> {{ event.dateFin  }}</p>
      <p><strong>Creation Date:</strong> {{ event.dateCreation  }}</p>
      <p><strong>Modification Date:</strong> {{ event.dateModif  }}</p>
      <p><strong>No. of Participants:</strong> {{ event.nbrParticipants }}</p>
      <!-- Add more event details or elements here -->
      <div class="button-container">

        <a href="admin/events/addEvent"><button class="participate-button">Participate</button></a>
      </div>
    </div>
  </div>
</div>

<style>
  .event-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 20px;
  }
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #d0dac3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  height: auto;
}
.card-body {
  padding: 10px;
}
.card-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.card-description {
  font-size: 14px;
  color: #888888;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.view-button {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.participate-button {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.a {
background-color: #007bff;
color: #fff;
border-radius: 5px;
padding: 8px 16px;
border: none;
cursor: pointer;
font-size: 14px;

}
.btn {
background-color: #007bff;
color: #fff;
border-radius: 5px;
}

</style>


<div style="padding-left: 30px;">
  <button class="a" routerLink="/addEvent">Add Event</button>
</div>
