<div class="card text-white bg-primary">
  <div class="card-body">
    <h2 class="card-title">{{ reclamation.recTitle }}</h2>
    <p class="card-text">Label: <span class="badge bg-danger">{{ reclamation.recLabel }}</span></p>
    <p class="card-text">Status: <span class="badge bg-success">{{ reclamation.recStatus }}</span></p>
    <p class="card-text">Created At: <span class="badge bg-warning text-dark">{{ reclamation.created_at | date: 'medium' }}</span></p>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h3 class="card-title">Replies:</h3>

    <div class="reply" *ngIf="reply">
      <p class="card-text">Message: {{ reply?.resContent }}</p>
      <p class="card-text">Posted at: <span class="badge bg-secondary">{{ reply?.created_at | date: 'medium' }}</span></p>
    </div>

    <p class="card-text no-reply" *ngIf="!reply">No replies available.</p>
  </div>
</div>
